<% if Helpers.is_logged_in?(session) %>
<div class="title">
    <h2>My Cosplays:</h2>
    <form method="get" action="/cosplays/new">
        <button type="submit">Add Cosplay</button>
    </form>
</div>
<table class="table-name">
        <thead>
        <tr>
            <th>Character Name</th>
            <th>Show</th>
            <th>Materials</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        <% @cosplays.each do |cosplay|%>
            <tr>
                <td><%= cosplay.character_name%></p>
                <form method="get" action="/cosplays/<%= cosplay.id %>/edit">
                    <button type="submit">Edit Cosplay</button>
                </form></td>
                <td><%= cosplay.show%></td>
                <td>
                    <div style="display: flex;justify-content: center;">
                    <form method="get" action="/materials/new">
                        <input type="hidden" name="cosplay_id" value= "<%= cosplay.id %>" >
                        <button type="submit">Add Material</button>
                    </form>
                    </div>
                    <div class="scrollable ">
                     <table class="cell-table">
                        <% cosplay.materials.each do |material|%>
                            <tr><p><%= material.name%> (<a href=<%= material.store_link %>>link</a>)</p>
                                <p>Quantity: <%= material.quantity%></p>
                                <p>Price: $<%= material.price%></p>
                                <form method="get" action="/materials/<%= material.id %>/edit">
                                    <button type="submit">Edit Material</button>
                                </form>
                                <form id = "form" method="post" action="/materials/<%= material[:id] %>">
                                    <input id="hidden" type="submit" name="_method" value="DELETE">
                                </form>
                            </tr>
                        <% end %>
                    </table>
                    </div>
                </td>
                <td>$<%= cosplay.cost%></td>
            </tr>
        <% end %>
    <tbody>
</table>
</form>

<% else %>
    Must be logged in to see your cosplays
<% end %>





