
<h2>My Cosplays:</h2>
<% if Helpers.is_logged_in?(session) %>
<table style="border: 1px solid black;">
    <tr>
        <th>Character Name</th>
        <th>Show</th>
        <th>Materials</th>
    </tr>
  <% @cosplays.each do |cosplay|%>
    <tr>
        <td style="border: 1px solid black;"><%= cosplay.character_name%></p></td>
        <td style="border: 1px solid black;"><%= cosplay.show%></td>
        <td style="border: 1px solid black;">
            <ul>
                <% cosplay.materials.each do |material|%>
                    <li><%= material.name%> (<a href=<%= material.store_link %>><%= material.store_link %></a>)
                        <form method="get" action="/materials/<%= material.id %>/edit">
                            <button type="submit">Edit Material</button>
                        </form>
                        <form id = "form" method="post" action="/materials/<%= material[:id] %>">
                            <input id="hidden" type="submit" name="_method" value="DELETE">
                        </form>
                    </li>
                <% end %>
            </ul>
        </td>
    </tr>
    <% end %>
</table>
    <form method="get" action="/cosplays/new">
    <button type="submit">Add Cosplay</button>
</form>

<% else %>
    Must be logged in to see your cosplays
<% end %>





