<p><%= @cosplay.character_name %></p> <p><%= @cosplay.show %></p>
<% if Helpers.is_logged_in?(session) %>
<%= @error %>
    <% if Helpers.current_user(session).id === @cosplay.user_id%>
        <%= @error %>
        <form id = "form" method="post" action="/cosplays/<%= @cosplay[:id] %>">
        <input id="hidden" type="submit" name="_method" value="DELETE">
    <% end %>
    <form method="get" action="/page2">
        <button type="submit">Add materials</button>
    </form>
  <% end %>