<div class="center">
<% if Helpers.is_logged_in?(session) %>
        <h2>Edit Material</h2>
        <form action="/materials/<%= @material.id%>" method="post">
        <% if Helpers.current_user(session).id === @material.cosplay.user_id%>
        <% if @material.errors.any? %>
        <div class="error">
          <ul>
          <% @material.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <input id="hidden" type="hidden" name="_method" value="patch">
            Name:
            <input type="text" name="material[name]" value="<%= @material.name%>"><br>
            </br>
            Link:
            <input type="text" name="material[store_link]" value="<%= @material.store_link%>"><br>
            </br>
            Quantity:
            <input type="text" name="material[quantity]" value="<%= @material.quantity%>"><br>
            <br>
            Price: $
            <input type="text" name="material[price]" value="<%= @material.price%>"><br>
            <br>
            <input type="submit" name="submit" value ="Edit" id="submit">

        </form>
    <% else %>
        <h1> You can only edit your Materials </h1>
    <% end %>

  <% else %>
      <h1> You Must Be Logged in to Edit Tweets </h1>
  <% end %>
</div>

